*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(135, 210, 235);
}
.header1{
    height: 134%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .header1-content-1{
    display: flex;
    justify-content: space-between;
    font-family: 'sans';
    flex-wrap: wrap;
 }
 #siemens{
    padding-left: 7vw;
    padding-top:5vh;
    color: white;
    font-size: 2rem;
    font-weight: 900;
 }
 #magnyfy{
    padding-right: 7vw;
    color: white;
    font-size: 1.2rem;
    padding-top:5vh;
 }
 #magnyfy:hover{
 color: aquamarine;
 }
 #global{
    padding-top:5vh;
    color: white;
    font-size: 1.2rem;
    display: flex;
    gap: 1.5vw;
    flex-wrap: wrap;
 }
 #global:hover{
    color: aquamarine;
   }
 #header-1-part2{
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
 }
 .header1-content-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'roman';
 }
 .header{
    display: flex;
    gap: 5vw;
 }
 .header-content-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'roman';
 }
 #header-ul-1{
    display: flex;
    gap: 2.5vw;
    flex-wrap: wrap;
    padding-left: 7vw;
    padding-top: 3vh;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
 }
 #software-traning{
     padding-left: 13vw;
 }
 #header-ul-2{
    display: flex;
    gap: 2.5vw;
    flex-wrap: wrap;
    padding-right: 7vw;
    padding-top: 3vh;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
 }  
.page1-content1 h1{
     text-align: center;
     padding: 3vh 0 0 0;
}
.page1-content1 p{
    text-align:justify;
    font-size:1.5rem;
    padding: 3vh  20vw 0 20vw;
    line-height: 4.5vh;
}
.page1-content2-flex{
    display: flex;
}
.page1-content2-flex2{
    display: flex;
}
.page1-content2-text1{
    width: 130vw;
    height: 50vh;
    background-color:darkblue;
    color: rgb(135, 210, 235);
    margin: 2vw 0 0 1vw;
}
.page1-content2-text2   {
    width: 130vw;
    height: 50vh;
    background-color:darkblue;
    color: rgb(135, 210, 235);
    margin: 2vw 0 0 1vw;
}
.page1-content2-text3{
    width: 130vw;
    height: 50vh;
    background-color:darkblue;
    color: rgb(135, 210, 235);
    margin: 2vw 1vw 0 1vw;
}
.page1-content2-text4{
    width: 100vw;
    height: 50vh;
    background-color:darkblue;
    color: rgb(135, 210, 235);
    margin: 2vw 1vw 0 1vw;
}
.page1-content2-text5{
    width: 100vw;
    height: 50vh;
    background-color:darkblue;
    color: rgb(135, 210, 235);
    margin: 2vw 1vw 0 0;
}
.page1-content2-text6 h3{
    padding: 2vh 0 0 5vw;
    font-size: 1.7rem;
}
.page1-content2-text6 p{
    padding: 2vh 10vw 0 20vw;
    font-size: 1.25rem;
}